*{
    cursor: url('../assets/moneda.png') , pointer;  
    margin: 0;
    padding: 0;


}
.barra-horizontal {
    background-color: #333;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.barra-horizontal a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
}

.barra-horizontal a:hover {
    background-color: #ddd;
    color: black;
}
body{
    background-color:#000000ad;
    height: 99%;
    justify-content: center;
    margin: 0%;
    padding: 0%;
}
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: normal;
    align-content: normal;
  }
  
  .flex-items:nth-child(1) {
    display: block;
    flex-grow: 10;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 1;
    width: 15%;
    }
  
  .flex-items:nth-child(2) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 2;
    width: 70%;
    height: 100%;
  }
  
  .flex-items:nth-child(3) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 3;
    width: 15%;
  }
section{
   background-color: #D7D7DB;
   padding: 0% 5%;
   
}
aside{

}

#footer {
    display: flex;
    top: 80%;
    left: 10%;
    width: 100%;
    height: 20vh;
    background-color: #333;
    color: #ddd;
    align-self: flex-end;
    justify-content: space-between;
    
}
#d1{
    flex-direction: column;
    margin: 3%;   
    
}
#d2{
    flex-direction: column;
    margin: 3%;   

}
#Contacto{
    text-decoration: #ddd;
}
a:link{
    color: white
}
a:visited{
    color: white;
}
